@font-face {
   font-family: iranYekan;
   src: url(../Font/iranyekanwebmediumfanum.ttf);
}
@font-face {
   font-family: iranYekanSm;
   src: url(../Font/iranyekanwebregularfanum.ttf);
}

.yekanLg {
   font-family: iranYekan !important;
}
* {
   font-family: iranYekanSm;
   scroll-behavior: smooth !important;
}

body {
   background-color: #121212;
}
