@font-face {
   font-family: iranYekan;
   src: url(../Font/iranyekanwebmediumfanum.ttf);
}
@font-face {
   font-family: iranYekanSm;
   src: url(../Font/iranyekanwebregularfanum.ttf);
}

.yekanLg {
   font-family: iranYekan !important;
}
* {
   font-family: iranYekanSm;
   scroll-behavior: smooth !important;
}

body {
   background-color: #121212;
}
.s {
   position: absolute;
   top: 0;
   width: 100%;
   height: 100%;
   background-position: center center;
}
@media (min-width: 776px) {
   .s {
      background-image: linear-gradient(rgba(18, 18, 18, 0) 10vw, rgb(18, 18, 18) 135vw);
   }
}
@media (max-width: 776px) {
   .s {
      background-image: linear-gradient(rgba(18, 18, 18, 0) 10vw, rgb(18, 18, 18, 1) 140vw);
   }
}
