/* HTML: <div class="loader"></div> */
.loader {
   width: 12px;
   height: 12px;
   aspect-ratio: 1;
   border-radius: 50%;
   animation: l5 1s infinite linear alternate;
}
@keyframes l5 {
   0% {
      box-shadow: 20px 0 #ffffff, -20px 0 #8d8d8d;
      background: #ffffff;
   }
   33% {
      box-shadow: 20px 0 #ffffff, -20px 0 #8d8d8d;
      background: #8d8d8d;
   }
   66% {
      box-shadow: 20px 0 #8d8d8d, -20px 0 #ffffff;
      background: #8d8d8d;
   }
   100% {
      box-shadow: 20px 0 #8d8d8d, -20px 0 #ffffff;
      background: #ffffff;
   }
}
